// Viewports
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;

// Colors
$blue1: #161c35; //basic_blue
$blue2: #192144; //basic_blue_dark

$blue3: #e2e5f2; //basic_blue_light
$blue4: #edeff6;
$blue5: #cbced9;
$blue6: #d1d7e9; //special_blue_light

// $special_grey: ;

$orange1: #ff8d30; //special_orange
$orange2: #ffa530;
$orange3: #ffbd30; //special_yellow_dark
$orange4: #ffd74b; //basic_yellow

$red1: #f02323;
$red2: #f47e7e; //special_red
$red3: #f97676;
$red4: #f9eaea;

$green1: #bbf085;
$green2: #81e31e;

$hover: #ff5c23;
